<section class="home bd-grid" id="home">
    <div class="home__data">
        <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Swapnil Kundu</span><br> Welcome to my <br />Portfolio<br /></h1>

        <a href="#" class="button">Contact</a>
    </div>

    <div class="home__social">
        <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
        <a href="https://www.facebook.com/swapnil.kundu.90/" class="home__social-icon"><i class='bx bxl-facebook'></i></a>
        <a href="https://github.com/SwapnilKundu" class="home__social-icon"><i class='bx bxl-github'></i></a>
    </div>

    <div class="home__img">
        <img src="assets/img/kerala.jpg" alt="Your Alt Text" class="home__blob-img" id="popOutImage" />
    </div>
</section>

<style>
    .home__img:hover #popOutImage {
        transform: scale(1.1); /* Adjust the scale factor as needed */
        transition: transform 0.5s ease; /* Adjust the transition speed as needed */
    }
</style>

<footer style="background-color: #f8f8f8; text-align: center; padding: 15px; position: absolute; bottom: 0; width: 100%;">
    <partial name="_LoginPartial"/>
</footer>
