<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - final_portfolio</title>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/final_portfolio.styles.css" asp-append-version="true" />
</head>
<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Kundu</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a asp-controller="Home" asp-action="Index" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a asp-controller="About" asp-action="Index" class="nav__link">About</a></li>
                    <li class="nav__item"><a asp-controller="Skill" asp-action="Index" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a asp-controller="Work" asp-action="Index" class="nav__link">Work</a></li>
                    <li class="nav__item"><a asp-controller="Contact" asp-action="Index" class="nav__link">Contact</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav__item">
                            <a asp-controller="Message" asp-action="Index" class="nav__link">
                                <i class='bx bx-envelope'></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
